<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='cssfromcloudstorage.css')}}">
    <title>IBM Assignment 3</title>
  </head>
  <body class="mainbody container-lg">
    <center>
        <h1>My projects</h1>
    </center>
    <!-- {{images|safe}} -->
    {% for img in images %}
      <img src={{img}} class="img-fluid">
    {% endfor %}
  </body>
</html>    